<!-- About -->
<section id="sidebar">
  <section id="intro">
    <header>
      <p><img src="{{"/images/ptb.png" | prepend: site.baseurl}}" width="400" height="245" alt="PTB"></p>
      <p>{{ site.tagline }}</p>
    </header>
  </section>
  <section class="blurb">
    <h4>Next Meeting</h4>
    <p>{{ site.next_meeting }}</p>
  </section>


  <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="mailto:{{ site.author.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="{{ site.author.facebook }}" class="fa-facebook"><span class="label">Email</span></a></li>
        <li><a href="{{ site.author.paypal }}" class="fa-paypal"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; PrimeTime Brewers of Grand Rapids Michigan.</p>
    </section>
</section>
